table {
    border-collapse: collapse;
    border-spacing: 0px;
}


caption, td, th {
   border: 1px solid #000; 
   font-family: sans-serif;
   padding: 3px;
}

caption {
    font-weight: 700;
    border-bottom: 0px;
}

.red {
    color: red;
}