html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(171, 155, 135);
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.header {
    padding: 20px 30px;
    margin-bottom: 30px;
}

.header_container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1320px;
    padding: 0 15px;
    gap: 30px;
}

.logo {
    width: 30px;
    height: 30px;

}

ul, a{
    padding: 0;
    margin: 0;
    list-style: none;
    color: black;
    
}

.menu{
    display: flex;
    justify-self: center;
    gap:30px;
}

.contact {
    text-decoration: none;
}

@media (max-width: 375px) {
.header {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 15px 20px;
}
}


